In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Harmonised global datasets - Solar farms

Paper Link : https://www.nature.com/articles/s41597-020-0469-8 <br>
Dataset link: https://figshare.com/articles/dataset/Harmonised_global_datasets_of_wind_and_solar_farm_locations_and_power/11310269/2

In [6]:
data_path = '/home/akshay/_AKSHAY_/Erdos_Institute/SolarFarmPrediction/global_wind_solar_2020/global_solar_2020.csv'

solar_data = pd.read_csv(data_path)
solar_data

,X,Y,sol_id,GID_0,panels,panel.area,landscape.area,water,urban,power
0,-9.935729e+06,5.943801e+06,1,CAN,1,0.000141,0.000000,0,0,NaN
1,-9.785041e+06,5.767954e+06,2,USA,1,0.000141,0.000000,0,0,NaN
2,-1.019171e+07,5.511199e+06,3,USA,1,0.000141,0.000000,0,1,NaN
3,-1.050240e+07,4.716500e+06,4,USA,1,0.000141,0.000000,0,1,NaN
4,-1.049526e+07,4.766983e+06,5,USA,1,0.000141,0.000000,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...
35267,1.048514e+06,7.252346e+06,35268,SWE,5,0.000110,0.000110,0,0,NaN
35268,1.639665e+06,7.228927e+06,35269,FIN,4,0.041371,0.041371,0,0,2.757758
35269,1.680790e+06,7.067943e+06,35270,FIN,61,0.012768,0.012768,0,0,1.024186
35270,2.230109e+06,6.996937e+06,35271,RUS,3,0.000019,0.000019,0,1,NaN
35271,2.242579e+06,7.111704e+06,35272,RUS,3,0.002495,0.002495,0,0,NaN

In [10]:
solar_data = solar_data[solar_data['GID_0']=='USA']
solar_data

,X,Y,sol_id,GID_0,panels,panel.area,landscape.area,water,urban,power
1,-9.785041e+06,5.767954e+06,2,USA,1,0.000141,0.000000,0,0,NaN
2,-1.019171e+07,5.511199e+06,3,USA,1,0.000141,0.000000,0,1,NaN
3,-1.050240e+07,4.716500e+06,4,USA,1,0.000141,0.000000,0,1,NaN
4,-1.049526e+07,4.766983e+06,5,USA,1,0.000141,0.000000,0,1,NaN
5,-1.047025e+07,4.687780e+06,6,USA,1,0.000141,0.000000,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...
34232,-7.376253e+06,3.626351e+06,34233,USA,5,0.000022,0.000022,0,1,NaN
34233,-7.218196e+06,3.613381e+06,34234,USA,3,0.003192,0.003192,0,1,NaN
34234,-7.279206e+06,3.659724e+06,34235,USA,2,0.000526,0.000526,0,1,NaN
34235,-7.223758e+06,3.683024e+06,34236,USA,3,0.000053,0.000053,0,0,NaN
34237,-7.407654e+06,3.612317e+06,34238,USA,2,0.000156,0.000156,0,1,NaN